#main {
    background-color: #88bdbc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#title {
    font-family: 'Cinzel', serif;
    margin-bottom: 0;
}

#tagline {
    font-family: 'Indie Flower', cursive;
}

section {
    max-width: 768px;
    margin: auto;
}

#tribute-info {
    font-family: monospace;
    text-align: left;
    font-size: 1.2rem;
}

#headline {
    text-align: center;
}

#img-div {
    background-color: white;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    padding: 5px;
    background: rgba(211, 211, 211, 0.4)
}

li {
    margin-bottom: 10px;
}

a {
    color: green;
    margin: 0 20px;
}

